<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Cool Project</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body ng-app="app">
    <div class="container" ng-controller="GifController">
      <form ng-submit="addGif(gif)">
        <label class="label">Name</label>
        <p class="control">
          <input class="input" type="text"
                 ng-model="gif.name" ng-keyup="validateName(gif.name)" />
          <span class="input-error" >{{ errors.name }}</span>
        </p>
        <label class="label">Gif URL</label>
        <p class="control">
          <input class="input" type="text"
                 ng-model="gif.url" ng-keyup="validateUrl(gif.url)" />
          <span class="input-error">{{ errors.url }}</span>
        </p>
        <p class="control">
          <button class="button is-primary">Add GIF</button>
        </p>
      </form>

      <h1>My Cool Gifs</h1>
      <ul class="cool-gifs">
        <li ng-repeat="gif in gifs">
          <h3>{{ gif.name }}</h3>
          <button ng-click="deleteMe(gif)">Delete It!</button>
          <img src="{{ gif.url }}" />
        </li>
      </ul>
    </div>
    <script src="js/bundle.js"></script>
  </body>
</html>
